*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$primaryColor : #f3a65c;
$secondaryColor : #b7989b;
$textColor : #f83899;
$textwhite : #ffffff;
$fontPrimary : 'poppins',
    sans-serif;
$fontSecondary : 'playfair Display',
    serif;    
 
    
body {
    color: rebeccapurple;
    font-family: $fontPrimary;
    font-size: 15px;
    font-weight: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontSecondary;
    margin: 0 0 15px;
}

p {
    font-family: $fontPrimary;
    margin: 0 0 15px;  

}

/*menumenubar_area*/

#menubar_area {
   width: 100;
   padding: 50 0;
   text-align: center;

   h1{
    font-size: 45px;
    text-align: center;
    margin: 0 0 25px;
   }       
.container{
    width: 1140px;
    max-width: 95% ;
    margin:  0 auto;
    display: flex;
}          
.child_service{
    background: $primaryColor;
    text-align: center;
    padding: 40px 25px;
    flex: 1;
    &:nth-child(odd) {
        background:$secondaryColor;
    }

}

    
    
}

